.Footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  padding-bottom: 2em;
  background-color: #c36d5b;
  color: #212020;
}
.Footer_subtitle {
  position: absolute;
  top: 740px;
}
