.form-container {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  justify-content: center;
  background-color: #4caf50;
  color: #141414;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-container1 {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  margin-top: 5px;
  justify-content: center;
  margin-bottom: 2em;
  background-color: #c36d5b;
  color: #212020;
  overflow-y: auto;
  overflow-x: hidden;
}

.countryDiv {
  margin-top: 10px;
  padding-bottom: 20px;
  color: #212020;
}

.btn-select-location {
  margin-left: 10px;
}
